p {
    font-size:12pt;
    font-family: Arial,"微软雅黑","黑体","宋体",sans-serif;
}

#cnblogs_post_body h2 {
    font-size:15pt;
    font-family: Arial,"微软雅黑","宋体","黑体",sans-serif;
    background-color: #2B6695;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    padding: 0px 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 5px #2B3E53;
    text-shadow: 2px 2px 3px #222;
}
#cnblogs_post_body a {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    text-decoration: none;
    color: #2769C0;
}
#cnblogs_post_body li {
    list-style: inherit!important;
    margin-left:1.5em;
    margin-bottom: 0.1em;
    font-size:11pt;
}
.cnblogs-markdown .hljs {
    font-family: consolas,monospace,sans-serif !important;
    font-size: 11pt !important;
    line-height: 1.5 !important;
    padding: 5px !important;
}
.cnblogs-markdown code {
    font-family: consolas,monospace,sans-serif !important;
    font-size: 11pt !important;
    line-height: 1.5 !important;
}
#Editor_Edit_EditorBody {
    font-size:12pt;
    font-family: Arial,"微软雅黑","黑体","宋体",sans-serif;
}
textarea {
    font-size:12pt;
    font-family: Arial,"微软雅黑","黑体","宋体",sans-serif;
}